{% extends 'base.html' %}

{% block container %}
    <div class="row">
        <div class="col">
            <h1>{{ course.title }}</h1>
            <hr>
            <h3>Avaliações:</h3>
            {% for review in course.reviews.all %}
                <p>
                    <strong>Nome: </strong>{{ review.name }} <br>
                    <strong>Avaliação: </strong>{{ review.comment }} <br>
                    <strong>Nota: </strong>{{ review.rating }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock container %}